/* VARIABLES */
:root {
  --color-primary: #fdfff6;
  --text-color: #70614c;
  --text-color-light: #bba381;
  --text-color-light: hsl(35, 10%, 45%);
  --text-color-dark: hsl(33, 23%, 17%);
  --button-background: #28ac03;
  --font-primary: 1.25rem;
  --font-normal: 1rem;
  --font-tiny: 0.8rem;
  --font-big: 1.8rem;
  --font-large: 3.8rem;
}

/* GENERAL STYLES */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--color-primary);
  font-family: montserrat;
}

/* UTILITIES */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.image {
  width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 92%;
  margin: 0px auto;
  max-width: 1400px;
}

/* HEADER SECTION */
.header-wrapper {
  height: 70px;
  justify-content: space-between;
}

.aside-brand .img-contain {
  width: 1.75em;
  margin-right: 0.5em;
}

.aside-brand p {
  color: var(--text-color-light);
}

@media (max-width: 676px) {
  .aside-brand p,
  .nav-list-item a {
    font-size: 0.82rem;
  }
}
@media (max-width: 576px) {
  .header-wrapper {
    flex-direction: column;
    height: 100px;
  }
  .aside-brand {
    margin-top: 12px;
    border: 2px solid var(--button-background);
    padding: 4px;
    border-radius: 10px;
  }
  .aside-brand p {
    font-weight: bolder;
    font-size: var(--font-primary);
  }
}

.nav-list {
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-list-item {
  margin-left: 1.75em;
}

@media (max-width: 576px) {
  .nav-list-item {
    margin: 0.875em;
  }
}
@media (max-width: 364px) {
  .nav-list {
    flex-direction: column;
  }
  .nav-list-item {
    margin: 8px 0px;
  }
  .header-wrapper {
    flex-direction: column;
    height: 220px;
    justify-content: flex-start;
  }
}

.nav-list-item a:hover {
  color: var(--text-color-light);
  border-bottom: 1px solid black;
  padding-bottom: 0.125em;
}

.active a {
  color: var(--text-color-light);
}

.active a:hover {
  border-bottom: none;
}

/* MAIN BODY */
.body-main {
  background-image: url(img/Background.png);
  height: calc(100vh - 70px); /*70px is the height of the navigation*/
  /* height: 700px also looks good */

  background-size: cover;
  background-position: center;

  /* This also looks good without any additional property needed. optionally add background-size: cover which isn't okay on large screens
  height: 589px; */
}

.main-message-heading {
  font-size: var(--font-large);
  padding-top: 3.7rem;
}

@media (max-width: 1100px) {
  .main-message-heading {
    font-size: 3.2rem;
  }
}
@media (max-width: 900px) {
  .main-message-heading {
    font-size: 2.7rem;
  }
}
@media (max-width: 676px) {
  .main-message-heading {
    font-size: 2.4rem;
  }
}
@media (max-width: 576px) {
  .main-message-heading {
    font-size: 2.2rem;
  }
}
@media (max-width: 496px) {
  .main-message-heading {
    font-size: 1.75rem;
  }
}
@media (max-width: 365px) {
  .main-message-heading {
    font-size: 1.6rem;
  }
}

.main-message-paragraph {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  margin-top: 2rem;
}

@media (max-width: 900px) {
  .main-message-paragraph {
    font-size: 12px;
  }
}

@media (max-width: 676px) {
  .main-message-paragraph {
    font-size: 11px;
  }
}

@media (max-width: 496px) {
  .main-message-paragraph {
    font-size: 9px;
  }
}
@media (max-width: 375px) {
  .main-message-paragraph {
    font-size: 8px;
  }
}

.main-message-button {
  margin-top: 0.8rem;
  background-color: var(--button-background);
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
  outline: none;
  border-color: transparent;
  width: 5.5rem;
  text-transform: uppercase;
}

.main-message-button:hover {
  transform: scale(1.05);
}

/*BODY SECTION */
.body-section {
  margin-top: 60px;
}

.section-article {
  text-align: center;
  margin-bottom: 2.5rem;
}

.section-article h2 {
  font-size: var(--font-big);
  margin-bottom: 1rem;
}

@media (max-width: 656px) {
  .section-article h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 396px) {
  .section-article h2 {
    font-size: 1.2rem;
  }
}

.section-article p {
  font-size: var(--font-tiny);
  font-weight: bolder;
  color: var(--text-color-light);
  width: 60%;
  margin: 0px auto;
}
@media (max-width: 1034px) {
  .section-article p {
    width: 70%;
  }
}
@media (max-width: 900px) {
  .section-article p {
    width: 85%;
  }
}
@media (max-width: 736px) {
  .section-article p {
    width: 95%;
  }
}
@media (max-width: 656px) {
  .section-article p {
    font-size: 0.65rem;
  }
}
@media (max-width: 518px) {
  .section-article p {
    width: 99%;
    font-size: 0.5rem;
  }
}
/* @media (max-width: 656px) {
  .section-article p {
    font-size: 0.65rem;
  }
} */

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 100px;
}

@media (max-width: 811px) {
  .main-grid {
    grid-template-columns: 1fr;
    row-gap: 80px;
    justify-items: start;
  }
}

.product-list {
  display: grid;
}

.per-product {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  text-align: right;
}

@media (max-width: 811px) {
  .product-list {
    width: 100%;
    row-gap: 24px;
  }
}

@media (max-width: 356px) {
  .product-list {
    row-gap: 32px;
  }
}

.per-product {
  grid-template-columns: 2fr 1fr;
  /* align-items: center; */
  /* text-align: start; */
}

.per-product-image {
  width: 70px;
}
.per-product-image img {
  max-width: 100%;
}

.per-product-info h3 {
  margin-bottom: 0.5rem;
}
.per-product-info p {
  font-size: var(--font-tiny);
  width: 78%;
  /* or font normal with a width of 85% */
  float: right;
  /* font-weight: bolder; */
}

@media (max-width: 406px) {
  .per-product-info p {
    font-size: 0.7rem;
  }
}

.product-big {
  display: grid;
  align-items: center;
}

@media (max-width: 811px) {
  .product-big {
    width: 100%;
  }
}

/*FIXME wrong class name*/
.product-big-image img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 811px) {
  .product-big img {
    width: 100%;
    margin: 0px auto;
  }
}

/* BOTTOM SECTION */
.bottom-section {
  margin-bottom: 300px;
  background-color: #f7f7f7;
}

.bottom-section-wrapper {
  height: 500px;
  flex-direction: column;
}

.bottom-section-wrapper h4 {
  font-size: var(--font-big);
  font-weight: bolder;

  margin-bottom: 1em;
}

.bottom-section-wrapper p {
  margin-bottom: 0.5em;
  line-height: 24px;
}

@media (max-width: 490px) {
  .bottom-section-wrapper p {
    font-size: 0.9rem;
    text-align: center;
  }
}

.bottom-section-wrapper .warning {
  margin-top: 1.5em;
  font-weight: bolder;
  color: var(--text-color-light);
}

@media (max-width: 655px) {
  .bottom-section-wrapper .warning {
    font-size: 0.9rem;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .bottom-section-wrapper p,
  .bottom-section-wrapper .warning {
    font-size: var(--font-tiny);
  }
}
@media (max-width: 369px) {
  .bottom-section-wrapper .warning {
    font-size: 0.65rem;
  }
}

.bottom-section-wrapper .warning-2 {
  margin-top: 0px;
}

/* FOOTER SECTION */
footer {
  background-color: var(--text-color);
}

.footer-wrapper {
  justify-content: space-between;
  color: white;
  height: 250px;
  line-height: 2em;
}

.footer-wrapper a {
  color: white;
  text-transform: capitalize;
  font-size: var(--font-normal);
}

.footer-wrapper h5 {
  font-size: var(--font-primary);
}

.footer-wrapper a:hover {
  color: var(--button-background);
}

.third-column-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
