:root {
  --color-primary: #fdfff6;
  --text-color: #70614c;
  --text-color-light: #bba381;
  --text-color-dark: hsl(33, 23%, 17%);
  --button-background: #28ac03;
  --font-primary: 1.25rem;
  --font-normal: 1rem;
  --font-tiny: 0.8rem;
  --font-big: 1.5rem;
  --font-large: 3.8rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--color-primary);
  font-family: montserrat;
}

/* .active {
  color: var(--text-color-light);
} */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.image {
  width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 92%;
  margin: 0px auto;
  max-width: 1400px;
}

.header-wrapper {
  height: 70px;
  justify-content: space-between;
}

.aside-brand .img-contain {
  width: 1.75em;
  margin-right: 0.5em;
}

.aside-brand p {
  color: var(--text-color-light);
}

.nav-list {
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-list-item {
  margin-left: 1.75em;
}

.nav-list-item a:hover {
  color: var(--text-color-light);
  border-bottom: 1px solid black;
  padding-bottom: 0.125em;
}

.body-main {
  background-image: url(img/Background.png);
  height: calc(100vh - 70px); /*70px is the height of the navigation*/
  /* height: 700px also looks good */

  background-size: cover;
  background-position: center;

  /* This also looks good without any additional property needed. optionally add background-size: cover which isn't okay on large screens
  height: 589px; */
}

.main-message-heading {
  font-size: var(--font-large);
  padding-top: 3.7rem;
}

.main-message-paragraph {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  margin-top: 2rem;
}

.main-message-button {
  margin-top: 2rem;
  background-color: var(--button-background);
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
  outline: none;
  border-color: transparent;
  width: 5.5rem;
  text-transform: uppercase;
}
